<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeMapper"> 

	<resultMap type="free" id="freeResultSet">
		<result column="FREE_IDX" property="idx"/>
		<result column="FREE_TITLE" property="title"/>
		<result column="FREE_CONTENT" property="content"/>
		<result column="FREE_WRITER" property="writer"/>
		<result column="FREE_INDATE" property="indate"/>
		<result column="FREE_VIEWS" property="views"/>
	</resultMap>
	
	<select id="selectFileName" resultType="String">
		SELECT upload_name FROM free
		WHERE free_idx = #{idx}
	</select>
	
	<select id="selectWriter" resultType="String">
		SELECT free_writer FROM free
		WHERE free_idx = #{idx}
	</select>
	
	<delete id="deleteBoard">
		DELETE FROM free
		WHERE free_idx = #{idx}
	</delete>
	
	<update id="editBoard" parameterType="free">
		UPDATE free SET free_title = #{title},
						free_content = #{content},
						upload_path = #{uploadPath},
						upload_name = #{uploadName},
						upload_origin_name = #{uploadOriginName}
					WHERE free_idx = #{idx}
	</update>
	
	<update id="editBoardEmptyUpload" parameterType="free">
		UPDATE free SET free_title = #{title},
						free_content = #{content}
					WHERE free_idx = #{idx}
	</update>
	
	<update id="views" parameterType="free">
			UPDATE free SET free_views = #{views}
						WHERE free_idx = #{idx}
	</update>
	
	<select id="detailBoard" resultMap="freeResultSet">
		SELECT * FROM free
		WHERE free_idx = #{idx}
	</select>
	
	
	<insert id="enrollBoard" parameterType="board">
		INSERT INTO free VALUES(seq_free_idx.NEXTVAL,
								#{title},
								#{content},
								#{writer},
								SYSDATE,
								0,
								#{uploadPath},
								#{uploadName},
								#{uploadOriginName})
	</insert>
	
	<select id="selectListAll" parameterType="board" resultMap="freeResultSet">
		SELECT * FROM free
		
		<choose>
			<when test="searchCategory.equals('content')">
				WHERE free_content LIKE '%' || #{searchText} || '%'
			</when>
			<when test="searchCategory.equals('title')">
				WHERE free_title LIKE '%' || #{searchText} || '%'
			</when>
			<when test="searchCategory.equals('writer')">
				WHERE free_writer LIKE '%' || #{searchText} || '%'
			</when>
		</choose>
		
		ORDER BY FREE_IDX DESC
	</select>

								<!-- int : integer 로반환 _int : int 로반환 -->
	<select id="selectListCount" parameterType="board" resultType="_int">  
		SELECT COUNT(*) FROM free
		
		<choose>
			<when test="searchCategory.equals('content')">
				WHERE free_content LIKE '%' || #{searchText} || '%'
			</when>
			<when test="searchCategory.equals('title')">
				WHERE free_title LIKE '%' || #{searchText} || '%'
			</when>
			<when test="searchCategory.equals('writer')">
				WHERE free_writer LIKE '%' || #{searchText} || '%'
			</when>
		</choose>
		
		
	</select>
	
</mapper>
































