<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin-visitMapper">
	<resultMap type="member" id="memberResultSet">
		<result column="m_no" property="no"></result>
		<result column="m_name" property="name"></result>
		<result column="m_id" property="id"></result>
		<result column="m_pwd" property="pwd"></result>
		<result column="m_email" property="email"></result>
		<result column="m_type" property="type"></result>
		<result column="m_nickname" property="nickname"></result>
		<result column="m_picture" property="picture"></result>
		<result column="m_path" property="path"></result>
		<result column="m_hope" property="hope"></result>
		<result column="m_stack" property="stack"></result>
		<result column="m_intro" property="intro"></result>
		<result column="m_in_date" property="inDate"></result>
		<result column="m_delete_date" property="deleteDate"></result>
		<result column="m_login_date" property="loginDate"></result>
		<result column="m_stop" property="stop"></result>
		<result column="m_stop_date" property="stopDate"></result>
		<result column="m_number" property="number"></result>
	</resultMap>
	<!-- visitPage -->
	<select id="dayVisit" resultType="int">
		SELECT COUNT(M_LOGIN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_LOGIN_DATE IS NOT NULL AND TRUNC(M_LOGIN_DATE) = TRUNC(SYSDATE)
	</select>
	
	<select id="weekVisit" resultType="int">
		SELECT COUNT(M_LOGIN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
    	AND M_LOGIN_DATE IS NOT NULL 
    	AND M_LOGIN_DATE BETWEEN SYSDATE - 7 AND SYSDATE
	</select>
	
	<select id="monthVisit" resultType="int">
		SELECT COUNT(M_LOGIN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_LOGIN_DATE IS NOT NULL
		AND M_LOGIN_DATE BETWEEN SYSDATE - 30 AND SYSDATE
	</select>
	
	<!-- admin Page List -->
	<!-- 금일 방문자 -->
	<select id="visitListToday" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_LOGIN_DATE IS NOT NULL 
		AND TRUNC(M_LOGIN_DATE) = TRUNC(SYSDATE) 
		ORDER BY M_LOGIN_DATE DESC
	</select>
	<!-- 전체 방문자 -->
	<select id="visitAllList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_LOGIN_DATE IS NOT NULL
		ORDER BY M_LOGIN_DATE DESC
	</select>
	<!-- 금일 방문자 Count-->
	<select id="selectVisitList" resultType="int">
		SELECT COUNT(M_NO) FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_LOGIN_DATE IS NOT NULL
		AND TRUNC(M_LOGIN_DATE) = TRUNC(SYSDATE)
	</select>
	<!-- 전체 방문자 Count -->
	<select id="selectVisitListAll" resultType="int">
		SELECT COUNT(M_NO) FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_LOGIN_DATE IS NOT NULL
	</select>
	<!-- member Page List -->
	<select id="totalList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NULL
	</select>
	<select id="memberListCount" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
	</select>
	<!-- member Page new User -->
		<select id="newUserList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND TRUNC(M_IN_DATE) = TRUNC(SYSDATE)
	</select>
	<select id="newUserCount" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND TRUNC(M_IN_DATE) = TRUNC(SYSDATE)
	</select>
	<!-- member Page delete Member -->
	<select id="deleteList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NOT NULL
	</select>
	<select id="deleteCount" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NOT NULL
	</select>
</mapper>