<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="kr.co.coco.board.model.dto.InfoDTO" alias="info"/>
		<typeAlias type="kr.co.coco.board.model.dto.InfoCommentDTO" alias="infoComment"/>
		<typeAlias type="kr.co.coco.board.model.dto.FreeDTO" alias="free"/>
		<typeAlias type="kr.co.coco.board.model.dto.FreeCommentDTO" alias="freeComment"/>
		<typeAlias type="kr.co.coco.board.model.dto.DeclarationDTO" alias="declaration"/>
		<typeAlias type="kr.co.coco.colabo.model.dto.ColaboDTO" alias="colabo"/>
		<typeAlias type="kr.co.coco.colabo.model.dto.ScheduleDTO" alias="schedule"/>
		<typeAlias type="kr.co.coco.colabo.model.dto.SkillChartDTO" alias="skillChart"/>
		<typeAlias type="kr.co.coco.colabo.model.dto.TeamProjectPerSonDTO" alias="projectMember"/>
		<typeAlias type="kr.co.coco.member.model.dto.MemberDTO" alias="member"/>
		<typeAlias type="kr.co.coco.admin.model.dto.AdminDTO" alias="admin"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/board/info-mapper.xml"/>
		<mapper resource="/mappers/board/info-comment-mapper.xml"/>
		<mapper resource="/mappers/board/free-mapper.xml"/>
		<mapper resource="/mappers/board/free-comment-mapper.xml"/>
		<mapper resource="/mappers/board/declaration-mapper.xml"/>
		<mapper resource="/mappers/colabo/colabo-mapper.xml"/>
		<mapper resource="/mappers/member/member-mapper.xml"/>
		<mapper resource="/mappers/admin/total/admin-total-mapper.xml"/>
		<mapper resource="/mappers/admin/visit/admin-visit-mapper.xml"/>
		<mapper resource="/mappers/admin/member/admin-member-mapper.xml"/>
		<mapper resource="/mappers/admin/board/admin-board-mapper.xml"/>
	</mappers>


</configuration>
