<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="kr.co.coco.colabo.model.dto.ColaboDTO" alias="colabo"/>
		<typeAlias type="kr.co.coco.colabo.model.dto.ScheduleDTO" alias="schedule"/>
		<typeAlias type="kr.co.coco.colabo.model.dto.SkillChartDTO" alias="skillChart"/>
		<typeAlias type="kr.co.coco.colabo.model.dto.TeamProjectPerSonDTO" alias="projectMember"/>
		<typeAlias type="kr.co.coco.member.model.dto.MemberDTO" alias="member"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/colabo/colabo-mapper.xml"/>
		<mapper resource="/mappers/member/member-mapper.xml"/>
	</mappers>
	

</configuration>