<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="kr.co.coco.board.model.dto.InfoDTO" alias="info"/>
		<typeAlias type="kr.co.coco.board.model.dto.InfoCommentDTO" alias="infoComment"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/board/info-mapper.xml"/>
	</mappers>
</configuration>
