.sortDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* login.html */
}

.sortDiv2 {
	display: flex;
}

.RegisterSort3 {
	display: flex;
	justify-content: space-between;
	overflow:auto;
}

.imageSize {
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
}

.snsLogin {
	margin-top: 10px;
}

.text-center1 {
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	color: black;
	/* register */
}

.hopeStack {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #e7ecf0;
	border-radius: 0.5rem;
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
	overflow: auto;
}

.StackButton {
	border: none;
	min-width: 100px !important;
	height: 50px;
	border-radius: 60%;
	margin-right: 5px;
	padding: 9px 15px 9px 15px !important;
	font-size: 13px !important;
}

/* Register CheckBox */
.RegisterCheckBox {
	width: 40px;
	height: 40px;
	background-color: white;
}

.totalBtn {
	width: 300px;
	height: 300px;
	border: none;
	color: #e7ecf0;
	font-size: 35px;
	font-weight: 700;
}
.totalBtn:hover {
    color: white !important;
}

.mainTitleFont {
	font-size: 50px;
	font-weight: 900;
}

.subTitleFont {
	font-size: 20px;
}

.marginTop {
	margin-top: 50px !important;
}

.inputHeight {
	min-height: 30px;
	padding: 5px 15px 5px 15px;
}

.hopeStack2 {
	display: flex;
	flex-direction: column;
	border: 1px solid #e7ecf0;
	border-radius: 0.5rem;
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	
	width: 100%;
	min-height: 110px;
	margin-bottom: 10px;
	overflow: auto;
	

}

.idBoxSize {
	width: 80% !important;
}

.checkBtn {
	width: 10%;
	border: 1px solid #e7ecf0;
	border-radius: 0.5rem;
	margin-left: 10px;
	background-color: #0085DB;
	color: white;
}

.checkText {
	margin-left: 20px;
	margin-bottom: 0;
}

.registerModal {
	width:100%;
	height: 100%;
    position: fixed;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:rgba(127,127,127,0.5);
	overflow: auto;
	
	border: 1px solid #e7ecf0;
	border-radius: 0.5rem;
	display:none;
	z-index:1;
}

.registerModal2{
	width: 500px;
	height: 600px;
	padding:30px;
	
	position:relative;
	top: 50%;
	left: 50%;
	
	background-color: rgba(255, 255, 255, 1); /* 투명도를 1로 설정하여 완전히 불투명하게 함 */
	border-radius: 2rem;
	transform:translate(-50%, -50%);
	overflow: auto;
}

.pointerNone{
	pointer-events : none;
}

.idCheckFont1{
	font-size:12px;
	margin: 10px 0 0 10px;
	color:green;
	display:none;
}

.idCheckFont2{
	font-size:12px;
	margin: 10px 0 0 10px;
	color:red;
	display:none;
}

.phoneInput{
	width:20% !important;
	margin-right:20px;
}
.stackTagStyle{
	margin : 10px 0 0 10px;
	border: 1px solid #e7ecf0;
	border-radius: 0.5rem;
	padding: 5px 10px 5px 10px;
	
	min-width:50px;
	min-height:30px;
	max-height:40px;
	text-align:center;
}

.stackBtn{
	width:20px;
	height:20px;
	margin-top:10px;
	border:none;
	border-radius:1rem;
	margin-left:3px;
	font-size:12px;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.logoutDiv{
	display:flex;
	justify-content:flex-end;
	height: 40px;
	
}
.logoutAtag{
	margin:15px 30px 4px 4px;
}
.displayNone{
	display:none;
}
.recaptchaBtn{
	width:120px;
	height:40px;
	border-radius:1rem;
	border: 1px solid #e7ecf0;
	margin-top : 10px;
	margin-bottom:10px;
	background-color:#0085db;
	color:white;
}
/* ----------------------------기존 style 추가 ----------------------- */

/* card영역 수정 */
.divSize {
	margin-top: 100px;
	margin-bottom: 100px;
	min-width: 600px;
}