<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin-memberMapper">
	<resultMap type="member" id="memberResultSet">
		<result column="m_no" property="no"></result>
		<result column="m_name" property="name"></result>
		<result column="m_id" property="id"></result>
		<result column="m_pwd" property="pwd"></result>
		<result column="m_email" property="email"></result>
		<result column="m_type" property="type"></result>
		<result column="m_nickname" property="nickname"></result>
		<result column="m_picture" property="picture"></result>
		<result column="m_path" property="path"></result>
		<result column="m_hope" property="hope"></result>
		<result column="m_stack" property="stack"></result>
		<result column="m_intro" property="intro"></result>
		<result column="m_in_date" property="inDate"></result>
		<result column="m_delete_date" property="deleteDate"></result>
		<result column="m_login_date" property="loginDate"></result>
		<result column="m_stop" property="stop"></result>
		<result column="m_stop_date" property="stopDate"></result>
		<result column="m_number" property="number"></result>
		<result column="m_name" property="searchInput"></result>
	</resultMap>
	<!-- member Page List -->
	<select id="totalList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NULL
	</select>
	<select id="memberListCount" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
	</select>
	<!-- member Page new User -->
		<select id="newUserList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND TRUNC(M_IN_DATE) = TRUNC(SYSDATE)
	</select>
	<select id="newUserCount" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND TRUNC(M_IN_DATE) = TRUNC(SYSDATE)
	</select>
	<!-- member Page delete Member -->
	<select id="deleteList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NOT NULL
	</select>
	<select id="deleteCount" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NOT NULL
	</select>
		<!-- admin member Page -->
	<select id="newUserDay" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER 
		WHERE M_DELETE_DATE IS NULL
		AND M_IN_DATE >= TRUNC(SYSDATE)
	</select>
	<select id="newUserMonth" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER 
		WHERE M_DELETE_DATE IS NULL
		AND M_IN_DATE BETWEEN TRUNC(SYSDATE) - 30 AND TRUNC(SYSDATE)
	</select>
	<select id="newUserYear" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER 
		WHERE M_DELETE_DATE IS NULL
		AND M_IN_DATE BETWEEN TRUNC(SYSDATE) - 365 AND TRUNC(SYSDATE)
	</select>
	<select id="newUserTotal" resultType="int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER
		WHERE M_DELETE_DATE IS NULL
	</select>
	<update id="deleteMember">
	    UPDATE MEMBER SET M_DELETE_DATE = SYSDATE WHERE M_NO = #{no}
	</update>
	<update id="deleteCancel">
		UPDATE MEMBER SET M_DELETE_DATE = NULL WHERE M_NO = #{no}
	</update>
	<select id="memberSearchListCount" resultType="_int">
		SELECT COUNT(M_IN_DATE) FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_NAME = #{searchInput}
	</select>
	<select id="searchList" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE M_DELETE_DATE IS NULL
		AND M_NAME = #{searchInput}
	</select>
</mapper>