@charset "UTF-8";




/* 메인 스와이프 카테고리 */

#swipe-category-div {

    display: flex;
    align-items: center;
    justify-content: center;
}

#main-swipe-category {
    display: flex;
    width: 480px;
    overflow: hidden;
}

#circles {
    display: flex;
    justify-content: flex-start;

}

.swipe-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border-radius: 50%;
    margin-right: 20px;
}

#swipe-category-prevBtn,
#swipe-category-nextBtn {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    border: none;
    cursor: pointer;
}



/* 추천 프로젝트 */
.card-project-name {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;

}

.project-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
}

.projecct-info-text {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    /* 한줄 노출 및 말줄임 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    box-sizing: border-box;
}

.project-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    align-items: center;
    padding-top: 0px;
}

.card-container {
    display: flex;
    overflow-x: auto;
    width: 3000px;
    margin: 0px 20px 20px 20px;
}

.card-content-text {
    text-align: left;
    width: 100%;
    padding-left: 10px;
}

#project-detail-btn {
    margin-top: 10px;
}

.card-item {
    flex: 0 0 auto;
    width: 258px;
    height: 380px;
    margin-right: 15px;
    box-shadow: 0px 2px 6px rgba(37, 83, 185, 0.1);
    margin-bottom: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 15px 10px 15px;

}

#projects {
    display: flex;
    width: 840px;
    overflow: hidden;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    box-shadow: 0px 2px 6px rgba(37, 83, 185, 0.1);
}

.project-card-img-top {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#project-prevBtn,
#project-nextBtn {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    border: none;
    cursor: pointer;
}


.board-card-row {
    width: 50%;
    height: 680px;
    background-color: white;
    border-radius: calc(0.625rem - 0px);
    box-shadow: 0px 2px 6px rgba(37, 83, 185, 0.1);
    margin: 10px 10px 5px 10px;

}

.board-row {
    display: flex;
}

.main-boardList {
    margin: 0px 20px 0px 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;

}

.card-project-hr-div {
    text-align: center;
    margin: 0px;
}

.card-project-hr {
    display: inline-block;
    width: 99%;
    border-color: #FAFAFA;
}

.main-boardList-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-boardList-info>div {
    display: flex;
    flex-direction: row;
}

.main-boardList-user-img {
    border-radius: 100px;
}

.main-boardList-info-text {
    margin-top: 5px;
    margin-left: 5px;
}

.main-project-comment-text {
    margin-top: 5px;
    margin-right: 10px;
}

.main-boardList-tag {
    display: flex;
    flex-direction: row;
}


.main-boardList-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-boardList-tag>p {
    margin-right: 5px;
}









