<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<resultMap type="member" id="memberResultSet">
		<result column="m_no" property="no"></result>
		<result column="m_name" property="name"></result>
		<result column="m_id" property="id"></result>
		<result column="m_pwd" property="pwd"></result>
		<result column="m_email" property="email"></result>
		<result column="m_type" property="type"></result>
		<result column="m_nickname" property="nickname"></result>
		<result column="m_picture" property="picture"></result>
		<result column="m_path" property="path"></result>
		<result column="m_hope" property="hope"></result>
		<result column="m_stack" property="stack"></result>
		<result column="m_intro" property="intro"></result>
		<result column="m_in_date" property="inDate"></result>
		<result column="m_delete_date" property="deleteDate"></result>
		<result column="m_login_date" property="loginDate"></result>
		<result column="m_stop" property="stop"></result>
		<result column="m_stop_date" property="stopDate"></result>
		<result column="m_number" property="number"></result>
	</resultMap>
	
<insert id="registerMember">
    INSERT INTO member VALUES(member_seq.NEXTVAL, <!-- member_seq.NEXTVAL -->
                            #{name},<!-- name -->
                            #{id}, <!-- id -->
                            #{pwd}, <!-- pwd -->
                            #{email}, <!-- email -->
                            1, <!-- type -->
                            #{nickname}, <!-- nickname -->
                            null, <!-- picture -->
                            null, <!-- path -->
                            null, <!-- hope -->
                            null, <!-- stack -->
                            null, <!-- intro -->
                            SYSDATE, <!-- inDate -->
                            null, <!-- deleteDate -->
                            null, <!-- loginDate -->
                            null, <!-- stop -->
                            null, <!-- stopDate -->
                            #{number}) <!-- number -->
</insert>

</mapper>
